@font-face {
    font-family: LiebherrRegular;
    src: url(fonts/LiebherrText-Regular_Web.woff);
}

@font-face {
    font-family: LiebherrHead;
    src: url(fonts/LiebherrHead-Black_Web.woff);
}



*{
    font-family: LiebherrRegular;
}

#bewerbungfür > div{
    display: inline-block;
    margin-right: 40px;
}

#bereich div{
    display: inline-block;
    width: 45%;  
}

header{
    margin: 0px
}

body{
    padding: 0px;
    /* margin: 50px 0px; */
    /* background-color: #fedc00;  */
    background-color: white;
    width: 100%;

} 

h1{
    text-align: left;
    /* text-decoration: underline;
    text-decoration-color: #fedc00; */
    font-family: LiebherrHead;
    font-size: 40px;
}

h2{
    margin-bottom: 5px;
    font-size: 24px;
}


label, p{
    font-size: 1.4em;
}

/* input:not([type]), input[type="text"]
{
    font-size: 1.4em;
} */

#div-center{
    width: 70%;
    min-width: 1100px;
    margin: auto;
    padding: 50px;

}

#div-formular{
    background-color: #f0f3f6;
    padding: 50px;
}

#div-formular > div{
    margin-bottom: 30px;
}


small{
    font-size: 70%;
    margin-left: 0.5em;
    font-weight: 200;
}

.bigTextbox{
    width: 100%;
    margin-left: 10px;
}

input[type="text"]
{
    font-size:32px;
}

button{
    /* Resetting default button styles */
    /* -webkit-appearance: none;
    appearance: none; */

    font-size: 2em;
    margin: auto;
    display: block;
}



.parent{
    column-gap: 2rem;
    column-count: 2;
}
.element{
  display:inline-block;

  width:100%;
  height:100px;
}

#btnBewerben{
    background-color: #fedc00;
    /* font-family: LiebherrHead; */
    font-size: 26px;
    border: 0;
    padding: 20px;
    margin-top: 30px;
    font-weight: bold;
    color:black;
}



.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

img {
    width: 80%;
    height: 40%; 
    object-fit: contain;
    
}